
/*--Universal Styling--*/
*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	font-family: 'Oswald', sans-serif;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
 }

.hidden{
	display: none;
}

button{
	cursor: pointer;
	font-size: 20px;
}

section{
	border: 1px solid #409CFF;
}

fieldset{
   border:0 none;
}
/*--End of Universal Styling--*/



/*--Quote Styling Section--*/
.quote-section{
	margin-bottom: 60px;
}

.motifit-button{
}
/*--End of Quote Styling Section--*/



/*--Fit Goal Section Styling--*/


.fitgoal-section{
	margin-bottom: 60px;
}


.open-fitgoal-modal{
	border-radius: 15px;
	cursor: pointer;
}

#fitgoal-title{
	height: 40px;
	width: 40%;
	font-size: 14px;
}

#fitgoal-description{
	height: 40px;
	width: 90%;
    font-size: 14px;
}

/*--End of Fit Goal Section Styling--*/



/*--Fit Week Section Styling--*/



.fitweek{
	padding-top:30px;
	margin-right: auto;
	margin-left: auto;
}

.day-container{
	text-align: center;
    border: solid 2px #D3D3D3;
    /*box-shadow: 0 8px 6px -6px #2a2a2a;*/
    width: 180px;
    height:180px;
    padding: 0px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    border-radius: 50%;
}



/*--End of Fit Week Section Styling--*/



/*--Fit Plan Modal--*/

.fitplan-modal-btns{
}

/*--End of Fit Plan Modal Styling*/



/*--Category Section Styling--*/


/*post form*/
.new-category-form label{
    display: block;
    margin: 10px 0px 4px 0px;
	/*font-weight: bold;*/
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}



.new-category-form label > span{
    font-weight: bold;
    float: right;
    padding-left: 5px;
    color: red;
}


 .new-category-form input{
 	width: 100%;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}
/*end of post form*/




.category-icons{
}

.new-category-form{
	margin-bottom: 40px;
}

.category-container{
	padding: 0px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	width: 160px;
	height: 160px;
	display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;

}

.category-container p{
	font-size: 12px;
}


input[type="radio"]{
	margin-right: auto;
	margin-left: auto;
} 

.category-img{
	border: black 1px solid;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
}

.category-container input:hover + img{
	cursor: pointer;
}

.category-container label img {
	margin-left: auto;
	margin-right: auto;
}


.category-container label input {
    display: none;
}


.category-container input img{
	border-radius: 50%;
}

.category-container input:checked + img {
	border: 5px solid red;
	
	/*-webkit-filter: grayscale(100%);*/
	/*filter: grayscale(100%);*/
}



.category-container p {
	text-align: center;
	margin: 5px;
}


.delete-category-btn{
	position: absolute;
  	top: -10px;
 	right: -10px;
 	padding: 0;
	border: none;
	background: none;
}

.dayplan-category-get{
	margin-top: 25px;
}

/*--End of Category Section Styling--*/






/*--Activity Section Styling--*/

.activity-container{
	margin-top: 50px;
}



.post-activity-form label{
    display: block;
    margin: 10px 0px 4px 0px;
	/*font-weight: bold;*/
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}



.post-activity-form label > span{
    font-weight: bold;
    float: right;
    padding-left: 5px;
    color: red;
}


 .post-activity-form input{
 	width: 100%;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}



/*#activity-name,
#activity-time,
#activity-duration,
#activity-location,
#activity-inspiration,
#cardio-duration,
#cardio-distance{
	width: 100%;
}*/


.dayplan-activity-get{
	margin-top: 25px;
}

/*--End of Activity Styling Section--*/





/*--Exercise Section Styling--*/

.exercise-routine{
	margin: 20px 10px;
}

.add-icon,
.edit-icon,
.delete-icon{
	width: 20px;
	height: 20px;
}

/*--Table Styling--*/

table, 
th, 
td {
    border: 1px solid black;
    text-align: left;
}

table{
	width: 100%;
	border-collapse: collapse;
}

/*--End of Table Styling--*/

/*--End of Exercise Section Styling--*/







/*--Footer Styling--*/
footer{
	height: 50px;
	background-color: white;
	color: black;
	width: 100%
	margin-bottom: 0px;
	padding-bottom: 0px;

	bottom: 0px;
}

.author-date{
	display: flex;
	align-items: center;
	justify-content: center;
    padding: 0px;
    margin: 0px;
    float: left;
    margin-top: 3px;

}

.github-logo,
.linkedin-logo{
    width:15px;
    height:15px;
    margin-right: 3px;
}


.ola{
	font-size: 16px;
	text-decoration: none;
	color: #E2DEC6;
	margin-left: 2px;
	padding: 4px 8px 4px 0px;
	margin-bottom: 0px;
}

.c2018{
    font-size: 16px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 11px; 
}
/*--End of Footer Styling--*/




/*--Button Styling--*/

.add-day-plan-btn,
.view-day-plan-btn,
.edit-day-plan-btn,
.delete-day-plan-btn,
.exercise-edit-button,
.exercise-delete-button{
	padding: 0;
	border: none;
	background: none;
}

.next{
	background-color: grey;
	color: white;
	margin-top: 25px;
	width: 100px;
	padding: 11px 5px;
	border-radius: 10px;
}


#submit-dayplan-button,
#cancel-dayplan-button{
	background-color: rgb(255,255,153);
	padding: 5px;
	margin: 30px 10px;
	width: 45%;
}

/*--End of Button Styling--*/





/*--Modal Styling--*/

/* Outer */
.popup {
	width:100%;
	height:100%;
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	background:rgba(0,0,0,0.75);
}
/* Inner */
.popup-inner {
	overflow-y: auto; 
	height: 90%; 
	max-width:700px;
	width:90%;
	padding:40px;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
	box-shadow:0px 2px 6px rgba(0,0,0,1);
	border-radius:3px;
	background:#fff;
}
/* Close Button */
.popup-close {
	width:30px;
	height:30px;
	padding-top:4px;
	display:inline-block;
	position:absolute;
	top:0px;
	right:0px;
	transition:ease 0.25s all;
	-webkit-transform:translate(50%, -50%);
	transform:translate(50%, -50%);
	border-radius:1000px;
	background:rgba(0,0,0,0.8);
	font-family:Arial, Sans-Serif;
	font-size:20px;
	text-align:center;
	line-height:100%;
	color:#fff;
}
.popup-close:hover {
	-webkit-transform:translate(50%, -50%) rotate(180deg);
	transform:translate(50%, -50%) rotate(180deg);
	background:rgba(0,0,0,1);
	text-decoration:none;
}

/*--End of Modal Styling--*/






