/*--Universal Styling--*/


/*
font-family: 'Just Me Again Down Here', cursive;
font-family: 'Gochi Hand', cursive;
font-family: 'Gloria Hallelujah', cursive;
*/

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    background: #111111;
}

.hidden {
    display: none;
}

button {
    cursor: pointer;
    font-size: 20px;
}

fieldset {
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}






/*--End of Universal Styling--*/


/*--Header Styling--*/

header {
    background-color: #151515;
}

.logo {
    margin-top: 0px;
    margin-bottom: 15px;
    color: #D5FF44;
    font-size: 30px;
    font-family: 'Oxygen', sans-serif;
    display: inline-block;
}

.top-nav {
    margin-top: 9px;
    float: right;
    display: inline-block;
}

.nav-link {
    font-size: 18px;
    padding: 0 6px;
    border: none;
    margin-right: 10px;
}






/*--End of Header Styling--*/


/*--Quote Styling Section--*/

.quote-section {
    margin-top: 50px;
    margin-bottom: 0px;
    min-height: 20%;
}



/*.fitspire-img{
    margin-right: auto;
    margin-left: auto;
    display: block;
    width:100px;
    height: 100px;
}*/

.quote-container {
    min-height: 200px;
    padding-top: 5px;
}

.random-quote {
    font-style: italic;
    text-transform: uppercase;
    padding: 0px 40px;
    font-size: 50px;
    text-align: center;
    color: white;
    font-family: 'Anton', sans-serif;
}

.motifit-btn-container {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.motifit-button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    bottom: 0;
    font-size: 1.2em;
    padding: 10px 12px;
    cursor: pointer;
    user-select: none;
    transition: 0.4s ease;
    background: #353535;
    color: white;
    outline: none;
    font-size: 20px;
    border: none;
    border-radius: 2px;
}


.motifit-button:hover {
    transform: translateY(-3px);
    outline: none;
}

.motifit-button:active {
    transform: translateY(4px);
    transition: 0.1s ease;
    outline: none;
}



/*--End of Quote Styling Section--*/


/*--Fit Goal Section Styling--*/

.fitgoal-hdr {
    margin: 0px 10px;
}

.add-fitgoal-lgnd {
    margin-top: 0px;
}


.main-add-fitgoal-icon {
    margin-left: 10px;
}

.fitgoal-section {
    margin-top: 50px;
    margin-bottom: 60px;
}

.current-fitgoal {
    margin: 15px;
    padding: 10px;
    border: none;
}

.completed-goal,
.unq-fitgoal-box {
    margin-bottom: 15px;
    background: #0c0c0c;
    border: none;
    padding: 20px;
}


.goal-icon {
    position: absolute;
    top: -100;
    left: -20;
}

.completed-fitgoal-date,
.current-fitgoal-date {
    margin-top: 0px;
    margin-bottom: 11px;
    font-size: 17px;
}

.completed-fitgoal-title,
.current-fitgoal-title {
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 0px;
    color: #D5FF44;
}


.completed-fitgoal-description,
.current-fitgoal-description {
    font-weight: normal;
    font-size: 22px;
}


.open-fitgoal-modal {
    border-radius: 15px;
    cursor: pointer;
}

#fitgoal-title {
    height: 40px;
    width: 100%;
    font-size: 20px;
    transform: all 0.5s ease;
}

#category-img,
#fitgoal-description {
    height: 40px;
    width: 100%;
    font-size: 20px;
    margin-bottom: 50px;
    transform: all 0.5s ease;
}

#exercise-reps-edit{
    margin-bottom: 50px;
}


#exercise-name-edit:focus,
#exercise-weight-edit:focus,
#exercise-sets-edit:focus,
#exercise-reps-edit:focus,
#exercise-name:focus,
#exercise-weight:focus,
#exercise-sets:focus,
#exercise-reps:focus,
#activity-name:focus,
#activity-time:focus,
#activity-duration:focus,
#cardio-distance:focus,
#activity-location:focus,
#activity-inspiration:focus,
#category-name:focus,
#category-img:focus,
#fitgoal-title-edit:focus,
#fitgoal-description-edit:focus,
#fitgoal-title:focus,
#fitgoal-description:focus {
    outline: 0;
    border: 2px solid #D5FF44;
}


.put-exercise-btn,
#update-fitgoal-button,
.cancel-category-btn,
.post-category-btn,
.post-exercise-btn,
.cancel-exercise-btn,
#add-fitgoal-button,
#cancel-fitgoal-button {
    margin-right: 15px;
    display: inline-block;
    bottom: 0;
    font-size: 1.2em;
    padding: 10px 12px;
    cursor: pointer;
    user-select: none;
    transition: 0.4s ease;
    background: rgba(88, 88, 88, 1);
    color: white;
    outline: none;
    font-size: 20px;
    border: none;
    border-radius: 2px;
}

.next:hover,
.put-exercise-btn:hover,
#add-fitgoal-button:hover,
#cancel-fitgoal-button:hover,
#update-fitgoal-button:hover,
.cancel-category-btn:hover,
.post-category-btn:hover,
.post-exercise-btn:hover,
.cancel-exercise-btn:hover {
    transform: translateY(-3px);
    outline: none;
}

.next:active,
.put-exercise-btn:active,
#add-fitgoal-button:active,
#cancel-fitgoal-button:active,
#update-fitgoal-button:active,
.cancel-category-btn:active,
.post-category-btn:active,
.post-exercise-btn:active,
.cancel-exercise-btn:active {
    transform: translateY(4px);
    transition: 0.1s ease;
    outline: none;
}


.next {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 15px;
    padding: 10px 25px;
    cursor: pointer;
    user-select: none;
    transition: 0.4s ease;
    outline: none;
    border: none;
    color: white;
    border-radius: 5px;
    background: rgba(88, 88, 88, 1);
    float: right;
}


#fitgoal-description-edit {
    margin-bottom: 50px;
}



/*position default is static (ignores other layout attributes )
*/

.edit-fitgoal-button,
.delete-fitgoal-button {
    border: none;
    background-color: transparent;
}






/*--End of Fit Goal Section Styling--*/


/*--Fit Week Section Styling--*/

.fitweekh2 {
    font-weight: bold;
    color: #9fb7c9;
}

.fitweek {
    padding-top: 10px;
    margin-right: auto;
    margin-left: auto;
}

.day-container {
    display: inline-block;
    color: white;
    text-align: center;
    width: 100%;
    height: 150px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    background-color: none;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}


.weekday {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
}


.day-container-img {
    margin-right: auto;
    margin-left: auto;
    width: 90px;
    height: 90px;
    z-index: 20;
    background: #D5FF44;
    border-radius: 50%;
}



.day-container-cat-name {
    text-align: center;
    color: #D5FF44;
    font-size: 15px;
}



/*--End of Fit Week Section Styling--*/


/*--Fit Plan Modal--*/

.fitplan-modal-btns {}







/*--End of Fit Plan Modal Styling*/

.dayplan-container {
    display: block;
}

.unique-dayplan-results {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    border-top: 2px solid #222223;
    border-bottom: 2px solid #222223;
}





/*--Category Section Styling--*/


/*post form*/

.category-section {
    margin-right: auto;
    margin-left: auto;
}

.step {
    float: right;
    text-align: right;
    color: grey;
    font-size: 15px;
}

.edit-exercise-form,
.edit-fitgoal-form,
.post-fitgoal-form,
.post-exercise-form,
.post-activity-form,
.new-category-form {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.edit-exercise-form legend,
.edit-fitgoal-form legend,
.post-fitgoal-form legend,
.post-activity-form legend,
.post-exercise-form legend,
.new-category-form legend {
    padding-top: 15px;
    font-weight: bold;
    font-size: 22px;
}


.edit-exercise-form label,
.edit-fitgoal-form label,
.post-fitgoal-form label,
.post-exercise-form label,
.new-category-form label {
    display: block;
    margin: 10px 0px 4px 0px;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}

.edit-exercise-form label>span,
.edit-fitgoal-form label>span,
.post-activity-form label>span,
.post-fitgoal-form label>span,
.post-exercise-form label>span,
.new-category-form label>span {
    font-weight: bold;
    float: right;
    padding-left: 5px;
    color: #D5FF44;
}


.edit-exercise-form input,
.edit-fitgoal-form input,
.post-fitgoal-form input,
.post-exercise-form input,
.new-category-form input {
    font-size: 20px;
    width: 100%;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
    margin-bottom: 20px;
}


.edit-fitgoal-form,
.post-fitgoal-form {
    margin-top: 22%;
}

.edit-exercise-form,
.post-exercise-form {
    margin-bottom: 30px;
}








/*end of category post form*/

.category-icons {}

.new-category-form {
    margin-bottom: 40px;
}

.category-container {
    position: relative;
    outline: none;
    display: inline-block;
    color: white;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 150px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    background-color: black;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    border-radius: 10px;
}


.category-container p {
    font-size: 15px;
}

.category-container label {
    font-size: 0px;
    margin: 0px;
    padding: 0px;
}

input[type="radio"] {
    margin-right: auto;
    margin-left: auto;
}

.category-img {
    border: black 1px solid;
    border-radius: 50%;
    background: white;
    margin-right: auto;
    margin-left: auto;
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.category-container input:hover+img {
    cursor: pointer;
}

.category-container label img {
    margin-left: auto;
    margin-right: auto;
}


.category-container label input {
    display: none;
}


.category-container input img {
    border-radius: 50%;
}

.category-container input:checked+img {
    border: 5px solid #D5FF44;
    background-color: #D5FF44;
    -moz-opacity: 20%;
    -webkit-opacity: 20%;
    z-index: 4;
    overflow: hidden;
}


.category-container p {
    text-align: center;
    margin: 5px;
}


.delete-category-btn {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 0;
    border: none;
    background: none;
}

.dayplan-category-get {
    margin-top: 25px;
}







/*--End of Category Section Styling--*/


/*--Activity Section Styling--*/

.activity-container {
    margin-top: 50px;
}



.post-activity-form label {
    display: block;
    margin: 10px 0px 4px 0px;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}



.post-activity-form input {
    width: 100%;
    border: 1px solid #C2C2C2;
    /*    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;*/
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
    height: 40px;
    width: 100%;
    font-size: 20px;
    transform: all 0.5s ease;
    margin-bottom: 20px;
}









/*#activity-name,
#activity-time,
#activity-duration,
#activity-location,
#activity-inspiration,
#cardio-duration,
#cardio-distance{
    width: 100%;
}*/

.dayplan-activity-get {
    margin-top: 25px;
}







/*--End of Activity Styling Section--*/


/*--Exercise Section Styling--*/

.exercise-routine {
    margin: 20px 10px;
}


input[type="checkbox"] {
    width: 33px;
    /*Desired width*/
    height: 33px;
    /*Desired height*/
    cursor: pointer;
}





/*--Table Styling--*/

table,
th,
td {
    border: 1px solid black;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
}







/*--End of Table Styling--*/


/*--End of Exercise Section Styling--*/


/*--Footer Styling--*/

footer {
    height: 50px;
    background-color: white;
    color: black;
    width: 100% margin-bottom: 0px;
    padding-bottom: 0px;

    bottom: 0px;
}

.author-date {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    float: left;
    margin-top: 3px;
}

.github-logo,
.linkedin-logo {
    width: 15px;
    height: 15px;
    margin-right: 3px;
}


.ola {
    font-size: 16px;
    text-decoration: none;
    color: #E2DEC6;
    margin-left: 2px;
    padding: 4px 8px 4px 0px;
    margin-bottom: 0px;
}

.c2018 {
    font-size: 16px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 11px;
}







/*--End of Footer Styling--*/


/*--Button Styling--*/

.exercise-icon,
.complete,
.add-icon,
.view-icon,
.edit-icon,
.delete-icon,
.history-icon,
.poweroff-icon {
    width: 27px;
    height: 27px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    background-color: none;
    background: none;
    padding: 2px;
}

.exercise-icon,
.signout {
    background: none;
    border-radius: 50%;
}

.fitgoal-history-button {
    background: none;
}


.wrkout-section-button,
.complete {
    background: none;
}

.delete-icon {
    background-color: none;
}


.rmv-btn-brdr {
    border: none;
    background: none;
}

.wrkout-section-button,
.complete,
.add-icon,
.view-icon,
.edit-icon,
.delete-icon,
.fitgoal-history-button,
.signout {
    font-size: 1.2em;
    cursor: pointer;
    user-select: none;
    transition: 0.4s ease;
    color: white;
    outline: none;
    font-family: /*'Rubik', sans-serif*/
    'Roboto Mono', monospace;
    border-radius: 50%;
}

.complete:hover,
.add-icon:hover,
.view-icon:hover,
.edit-icon:hover,
.delete-icon:hover,
.fitgoal-history-button:hover,
.signout:hover {
    transform: translateY(-3px);
    outline: none;
    background-color: #E71353;
    border: 2px solid #E71353;
}


.complete:active,
.add-icon:active,
.view-icon:active,
.edit-icon:active,
.delete-icon:active,
.fitgoal-history-button:active,
.signout:active {
    transform: translateY(4px);
    transition: 0.1s ease;
    outline: none;
    border: 2px solid #E71353;
}

.view-icon {
    background: none;
    border-radius: 50%;
}


.delete-exercise-btn,
.edit-exercise-btn,
.popdown-post-exercise,
.popdown-post-category,
.completed-fitgoal-button,
.history-icon,
.poweroff-icon,
.add-day-plan-btn,
.view-day-plan-btn,
.edit-dayplan-btn,
.delete-dayplan-btn,
.exercise-edit-button,
.exercise-delete-button {
    padding: 0;
    border: none;
    background-color: none;
    background: none;
}

.popdown-post-exercise,
.popdown-post-category{
    width:30px;
    height: 30px;
    margin-left: 8px;
}

.completed-fitgoal-button {
    padding: 1px 6px;
}


.fa-calendar-check,
.fa-ban{
    font-size: 30px;
}

#submit-edited-dayplan-button,
#submit-dayplan-button,
#cancel-dayplan-button {
    background-color: rgba(240,240,240,0.9);
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    color: #353535;
    transition: 0.4s ease;
    border: none;
    font-size: 25px;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
}


#submit-edited-dayplan-button:hover,
#submit-dayplan-button:hover,
#cancel-dayplan-button:hover {
    transform: translateY(-3px);
    outline: none;
    background-color: #D5FF44;
    border: 2px solid #D5FF44;
}


#submit-edited-dayplan-button:active,
#submit-dayplan-button:active,
#cancel-dayplan-button:active {
    transform: translateY(4px);
    transition: 0.1s ease;
    outline: none;
    border: 2px solid #D5FF44;
}



/*--End of Button Styling--*/


/*--Modal Styling--*/


/* Outer */

.popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background: black;
}



/* Inner */

.popup-inner {
    overflow-y: auto;
    height: 90%;
    max-width: 700px;
    width: 90%;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
    border-radius: 3px;
    background: #222223;
    z-index: 100;
}



/* Close Button */

.popup-close {
    width: 30px;
    height: 30px;
    padding-top: 4px;
    display: inline-block;
    position: absolute;
    top: 30px;
    right: 30px;
    transition: ease 0.25s all;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    border-radius: 1000px;
    background: grey;
    font-family: Arial, Sans-Serif;
    font-size: 20px;
    text-align: center;
    line-height: 100%;
    color: white;
}

.popup-close:hover {
    -webkit-transform: translate(50%, -50%) rotate(180deg);
    transform: translate(50%, -50%) rotate(180deg);
    background: #E71353;
    text-decoration: none;
}




/*--End of Modal Styling--*/


/*--Exercise Table Styling--*/

.edit-dayplan-btn,
.delete-dayplan-btn {
    float: right;
    display: inline-block;
    margin-right: 20px;
}


.rslt {
    text-transform: uppercase;
}


table {
    border-collapse: collapse;
    width: 100%;
    border: none;
}

th,
td {
    text-align: left;
    padding: 8px;
    border: none;
}

tr:nth-child(even) {
    background-color: black;
}

th {
    background-color: #D5FF44;
    color: black;
}

.exercise-results-table th {
    background-color: #353535;
    color: #E1DAC8;
}


/*    border-radius: 15px;
*/

.icon {
    color: #D5FF44;
}

th:nth-child(6),
th:nth-child(7) {
    background-color: none;
    background: none;
}


/*--End of Exercise Table Styline--*/