/*--Universal Styling--*/

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}


html{
    margin: 0;
    padding: 0; 
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, #000000 0%, #434343 100%);
    user-select: none;
}

.hidden{
    display: none;
}

fieldset{
    border: none;
    text-align: center;
    background-color: #f9fbfd;
}

/*--End of Universal Styling--*/



/*--Header Styling--*/

header{
    background-color: #D5FF44;
    opacity: .7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo{
    margin-top: 0px;
    margin-bottom: 15px;
    color: #111111;
    font-size: 30px;
    font-family: 'Oxygen', sans-serif;
}


/*--End of Header Styling--*/



h2{
    font-style: italic;
    text-transform: uppercase;
    font-size: 56px;
    color: #111111;
    font-family: 'Anton', sans-serif;
    margin-top: 100px;
    margin-bottom: 20px;
}


.start-btn{
    background: white;
    opacity: .9;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    outline: none;
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: auto;
}


.start-btn:hover{

}


.start-btn:active{

}


.start{
    font-size: 25px;
    padding: 10px;
}

.middle{
    height: 500px;
}

.steps-container{
    margin-top: 200px;
    margin-bottom: 200px;
    padding: 0px;
}

.cont{
    margin-top: 10px;
    margin-bottom: 30px;
    width: 220px;
    height: 220px;
    margin-right: auto;
    margin-left: auto;
/*   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    background-color: white;
    opacity: .7;
}





/*--Intro Styling--*/

.box1{
    height: 100vh;
    width: 100%;
    background-image: url("https://i.imgur.com/5OMknmG.png");
/*    opacity: 0.8;*/
    background-size: cover;
    display: table;
    background-attachment: fixed;
}




/*--End of Intro Styling--*/















/*--Form Styling--*/
.container {
    display: absolute;
    float: bottom;
    width: 90%;
    bottom: 0;
    margin-right: auto;
    margin-left: auto;
}

.signup-tab,
.login-tab {
    width: 50%;
    background: white;
    float: left;
    height: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}

.register-form,
.login-form {
    background: #f9fbfd;
    /*padding: 40px;*/
    clear: both;
    width: 100%;
    box-sizing: border-box;
    height: 400px;
}

legend{
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.input {
    font-size: 20px;
    width: 100%;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 15px;
    outline: none;
    margin-bottom: 20px;
    border:none;
}


.input:focus{
    border: 2px solid #D5FF44;
}

.input:focus,
.create-account-btn:focus,
.login-btn:focus {
    outline: 0;
}

.create-account-btn,
.login-btn {
    width: 100%;
    background:  #ffc601  /*#f7b733 *//*#6e3667*/ /*#f7b733*/ /*ffc83e */ /*#2214E5 */  /*EE2020*/; 
    height: 60px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    color: white;
    /*font-weight: bold;*/
    font-size: 19px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-bottom: 30px;
    text-shadow: 1px 1px rgba(192,192,192,0.3);
}

span a {
    text-decoration: none;
    color: #000;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: grey;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: grey;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: grey;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: grey;
}


.landing-alert,
.register-alert,
.login-alert{
    margin: 0px;
}


/*-- End of Form Styling --*/


.howto{
    margin-left: auto;
    margin-right: auto;
    border: black 2px solid;
    bottom: 100px;
}


div.row{
    margin-right: 
}