/*--Universal Styling--*/

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}


html{
    margin: 0;
    padding: 0; 
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, #000000 0%, #434343 100%);
    user-select: none;
}

.hidden{
    display: none;
}

fieldset{
    border: none;
    text-align: center;
    background-color: #f9fbfd;
}

/*--End of Universal Styling--*/



/*--Header Styling--*/

header{
    background-color: #D5FF44;
    opacity: .7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo{
    margin-top: 8px;
    margin-bottom: 8px;
    color: #111111;
    font-size: 30px;
    font-family: 'Oxygen', sans-serif;
        display: inline-block;
}


.top-nav {
    margin-top: 9px;
    float: right;
    display: inline-block;
}

.nav-link {
    font-size: 18px;
    padding: 0 6px;
    border: none;
    margin-right: 10px;
}

.poweroff-icon {
    width: 27px;
    height: 27px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    background-color: none;
    background: none;
    padding: 2px;
}

.signout {
    background: none;
    border-radius: 50%;
    font-size: 1.2em;
    cursor: pointer;
    user-select: none;
    transition: 0.4s ease;
    color: white;
    outline: none;
    border-radius: 50%;
    background-color: #E71353;
}

.signout:hover{
    transform: translateY(-2px);
    outline: none;
    background-color: #E71353;
    border: none;
}

.signout:active{
    transform: translateY(4px);
    transition: 0.1s ease;
    outline: none;
    border: none;
}

/*--End of Header Styling--*/

.intro{
    width:90%;
}


h2{
    font-style: italic;
    text-transform: uppercase;
    font-size: 56px;
    color: #111111;
    font-family: 'Anton', sans-serif;
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
}


.start-btn{
    background: white;
    opacity: .9;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    outline: none;
    cursor: pointer;
    display: block;
    margin-right: auto;
    margin-left: auto;
    animation: colorchange 7s;
    -moz-animation: colorchange 7s infinite; /* Firefox */
    -webkit-animation: colorchange 7s infinite; /* Safari and Chrome */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}


  @-moz-keyframes colorchange /* Firefox */
{
0%   {background: white;}
40%  {background: #D5FF44;}
60%   {background: #E71353;}
100%  {background: #D5FF44;}
}
 
    @-webkit-keyframes colorchange /* Firefox */
{
0%   {background: white;}
40%  {background: #D5FF44;}
60%   {background: #E71353;}
100%  {background: #D5FF44;}
}


.start-btn:hover{
    transform: translateY(-6px);
    transition: 0.4s ease;
    outline: none;
}


.start-btn:active{
    transform: translateY(4px);
    transition: 0.4s ease;
    outline: none;
}


.start{
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    padding: 10px;
}

.middle{
    height: 500px;
}

.steps-container{
    margin-top: 115px;
    margin-bottom: 200px;
    padding: 0px;
    padding-bottom: 10px;
}

.cont{
    margin-top: 10px;
    margin-bottom: 30px;
    width: 220px;
    height: 220px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(255,255,255, 0.7);
    text-align: center;
    color: #494949;
    border-radius: 60%;
    font-family: 'Oxygen', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cont-img{
    width: 50px;
    height: 50px;
    margin-top:-15px;
}


.cont-title{
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.cont-description{
    font-size: 18px;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

/*--Intro Styling--*/

.box1{
    height: 100vh;
    width: 100%;
    background-image: url("https://i.imgur.com/5OMknmG.png");
/*    opacity: 0.8;*/
    background-size: cover;
    display: table;
    background-attachment: fixed;
}

/*--End of Intro Styling--*/



/*--Form Styling--*/
.container {
    display: absolute;
    margin-top: 9%;
    margin-right: auto;
    margin-left: auto;
}

.signup-tab,
.login-tab {
    width: 50%;
    background: white;
    float: left;
    height: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}

.register-form,
.login-form {
    background: #f9fbfd;
    clear: both;
    width: 100%;
    box-sizing: border-box;
    height: 400px;
}

legend{
    font-family: 'Anton', sans-serif;
    font-style: italic;
    font-size: 30px;
    text-transform: uppercase;
    color: #111111;
    padding-top: 35px;
    padding-bottom: 30px;
}

.input {
    font-size: 20px;
    width: 100%;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 15px;
    outline: none;
    margin-bottom: 20px;
    border:none;
}


.input:focus{
    border: 1px solid #D5FF44;
}

.input:focus,
.create-account-btn:focus,
.login-btn:focus {
    outline: 0;
}

.create-account-btn,
.login-btn {
    width: 100%;
    background: #D5FF44; 
    height: 60px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    color: #111111;
    transition: 0.4s ease;
    font-size: 19px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-bottom: 30px;
    text-shadow: 1px 1px rgba(192,192,192,0.3);
    outline: none;
    border-radius: 3px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/

}


.create-account-btn:hover,
.login-btn:hover {
    transform: translateY(-3px);
    outline: none;
}


.create-account-btn:active,
.login-btn:active {
    transform: translateY(4px);
    transition: 0.1s ease;
    outline: none;
}

.demo-cred,
.demo-hdr{
    margin-top: 0px;
}

.demo-hdr,
.demo-username{
    margin-bottom: 5px;
}

.demo-username,
.demo-pass{
    margin-top: 5px;
}

.demo-pass{
    margin-bottom: 35px;
}

span a {
    text-decoration: none;
    color: #000;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: grey;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: grey;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: grey;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: grey;
}


.landing-alert,
.register-alert,
.login-alert{
    margin: 0px;
}


/*-- End of Form Styling --*/


.howto{
    margin-left: auto;
    margin-right: auto;
    border: black 2px solid;
    bottom: 100px;
}


div.row{
    margin-right: 
}




/*--Modal Styling--*/


/* Outer */

.popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(225, 225, 225, .8);
}



/* Inner */

.popup-inner {
    overflow-y: auto;
    height: 90%;
    max-width: 700px;
    width: 90%;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 3px;
    background: none;
    z-index: 200;
}



/* Close Button */

.popup-close {
    width: 40px;
    height: 40px;
    padding-top: 4px;
    display: inline-block;
    position: absolute;
    top: 30px;
    right: 30px;
    transition: ease 0.25s all;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    border-radius: 1000px;
    background: grey;
    font-family: Arial, Sans-Serif;
    font-size: 30px;
    text-align: center;
    line-height: 100%;
    color: white;
}

.popup-close:hover {
    -webkit-transform: translate(50%, -50%) rotate(180deg);
    transform: translate(50%, -50%) rotate(180deg);
    background: #E71353;
    text-decoration: none;
}

/*--End of Modal Styling--*/



#box2{
    margin-top: 20px;
    height: 8vh;
    color: black;
    opacity: .8;
    background-color: grey;
    text-align: center;
}


footer{
    width: 100%;
    text-align: center;
    font-family: 'Oxygen', sans-serif;
}

.author-date{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    float: left;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.github-logo,
.linkedin-logo{
    width: 45px;
    height: 45px;
    margin-right: 20px;
    margin-top: 9px;
    border-radius: 50%;
}


.linkedin-logo{
    background-color: black;
    border: white 5px solid;
}


.github-cont{
    float: right;
}

.linkedin-cont{
    float: left;
}