/*--Universal Styling--*/

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}


html{
    margin: 0;
    padding: 0; 
}

body {
    margin: 0;
    padding: 0;
    background: white /*#201f2f*/;
    user-select: none;
}


.hidden{
    display: none;
}


fieldset{
    border: none;
    color: white;
}

/*--End of Universal Styling--*/


/*--Header Styling--*/
.logo{
    color: #201f2f;
    font-size: 50px;
}

/*--End of Header Styling--*/








/*--Intro Styling--*/

.box1{
    height: 100vh;
    width: 100%;
    display: table;
}


.stop-slothing{
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    padding-top: 100px;

}


.house{
    background-image: url('https://i.imgur.com/BGCBlrr.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    animation-name: fallFromTop;
    animation-duration: 3s;
    animation-fill-mode: both;
}

.couch{
    background-image: url('https://i.imgur.com/iUleRZX.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 210px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    bottom: 0px;
    right: 0;
    left: 0;
    position: absolute;
    padding:0px;
    animation-name: fallFromTop;
    animation-duration: 2s;
    animation-fill-mode: both;
}

.action-text{
    text-transform: uppercase;
    color: #201f2f;
    font-size: 30px;
    text-align: center;
}    

.anim-icons{
    width:150px;
    height:150px;
}

.swing{
    width: 150px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform-origin: 50% 0; /* for Safari and older Chrome */
    transform-origin: 50% 0;
    -webkit-animation: swing 4s ease-in-out forwards infinite;
    animation: swing 4s ease-in-out forwards infinite;
}


@keyframes swing { 
    0%{transform: rotate(10deg);}
    50%{transform: rotate(-5deg)}
    100%{transform: rotate(10deg);}
} 

@keyframes fallFromTop {
    from{ transform: translateY(-800px); opacity:0; }
    to{ transform: translateY( 20px); opacity:1; }
}



.ing{
    color: #201f2f;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;

}



/*--End of Intro Styling--*/















/*--Form Styling--*/
.container {
    width: 450px;
    margin: 20px;
    /* auto */
}

.signup-tab,
.login-tab {
    width: 50%;
    background: white;
    float: left;
    height: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}

.signup-form,
.login-form {
    background: white;
    padding: 40px;
    clear: both;
    width: 100%;
    box-sizing: border-box;
    height: 400px;
}

.input {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 2px solid #e9eaea;
    color: #3e3e40;
    font-size: 14px;
    outline: none;
    transform: all 0.5s ease;
}

.input:focus {
    outline: 0;
    border: 2px solid #409CFF;
}

.create-account-btn,
.login-btn {
    width: 100%;
    background: #409CFF;
    height: 60px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    margin-bottom: 30px;
}

span a {
    text-decoration: none;
    color: #000;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #3e3e40;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #3e3e40;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #3e3e40;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #3e3e40;
}